html {
    position: relative;
    min-height: 100%;
}

body {
	text-align: center;
	background-image: url("background.png");
	margin: 0 0 50px; /* bottom = footer height */
}

h1 {
	text-align: center;
	font-family: Courier;
	font-size: 18px;
}

a {
	font-family: Courier;
	color:#3F3F3F;
}

img {
	width: 50%;
	height: 50%;
}

.grayscale { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}


#logo {
	border-radius: 50%;
	width: 10%;
	height: 10%;
}

#logo:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.navbar-container {
	display: inline;
	color: #7F7F7F;
	margin: 30px;
	background-color: #7F7F7F;
}

.nav {
	background-color: #7F7F7F;
}


#current {
	color: #000000;
}

.aboutme {
	width: 50%;
	margin: 0 auto;
}

/* back to top button */

a.back-to-top {
	display: none;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #3F3F3F url("up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}


/* lightbox photo gallery */

.carousel {
	display: none;
}

.lightbox-image-link img {
	width: 30%;
	margin: 0 auto;
	padding: 10px;

}

footer {
	position: absolute;
	left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #7F7F7F;
}

footer p {
	display: inline-block;
	margin-top: 10px;
	color: #FFFFFF;
	font-family: Courier;
}

#copyright {
	display: inline;
}

.socialmedia {
    width: 20%;
    height: 20%;
    position: inline;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}




/* ---- TABLET VIEW ---- */

@media only screen and (max-width: 720px) {

body {
	background-image: url("tabletbackground.jpg");
}

#logo {
	border-radius: 50%;
	width: 15%;
	height: 15%;
}

.navbar-container {
	position: block;
	color: #7F7F7F;
	margin: 30px;
}

.carousel {
	display: block;
	margin: 0 auto;
	width: 50%;
	height: 100%;
}


.lightbox-photogallery {
	display: none;
}

footer {
	position: fixed;
	left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #7F7F7F;
}

footer p {
	display: inline-block;
	margin-top: 10px;
	color: #FFFFFF;
	font-family: Courier;
	position: static;
}

#copyright {
	display: inline;
}

.socialmedia {
    width: 20%;
    height: 20%;
}

}

/* ---- MOBILE VIEW ---- */

@media only screen and (max-width: 480px) {

body {
	background-image: url("mobilebackground.png");
}

#logo {
	border-radius: 50%;
	width: 25%;
	height: 25%;
	margin: 5%;
}


.navbar-container {
	display: block;
	color: #7F7F7F;
	margin: 30px;
}

.carousel {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.lightbox-photogallery {
	display: none;
}


footer {
	position: fixed;
	left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #7F7F7F;
}

footer p {
	display: block;
	margin-top: 10px;
	color: #FFFFFF;
	font-family: Courier;
	float: bottom;
	text-align: center;
}

#copyright {
	text-align: center;
}

.socialmedia {
    width: 10%;
    height: 10%;
    display: inline;
}

}