html {
    position: relative;
    min-height: 100%;
}

body {
	text-align: center;
	background-image: url("background.png");
	margin: 0 0 50px; /* bottom = footer height */
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

a {
	font-family: Courier;
	color:#3F3F3F;
}





.carousel{
	margin: auto;
	width: 50%;
	height: 100%;
}





footer {
	position: absolute;
	left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #7F7F7F;
}

footer p {
	margin-top: 10px;
	color: #FFFFFF;
	font-family: Courier;
}


.socialmedia {
    width: 3%;
    height: 3%;
    position: inline;
}