<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/default.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="static/style.css">
	<title> Diana Oum - {{title}} </title>
</head>
<body>
	<header>
		{% block header %}
		Heading should change
		{% endblock %}

			<nav>
			<a href = "index">{% if title == 'HOME' %}{{title}}{% else %}Home{% endif %}</a> 
			<a href = "about">{% if title == 'ABOUT' %}{{title}}{% else %}About{% endif %}</a>
			<a href = "works">{% if title == 'PROJECTS' %}{{title}}{% else %}Works{% endif %}</a>
			</nav>
	</header>

{% block content %}
	I should never see this content.  It should be replaced depending on the html file.
{% endblock %}

	<footer>
		<p> You can also find me here: <a href = "https://www.instagram.com/_dikou/">Instagram</a>. Copyright &copy; Diana Oum.</p>
	</footer>
	
</body>
</html>