<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" href="static/default.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="static/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<title> Diana Oum - {{title}} </title>
</head>
<body>
	<header>
		{% block header %}
		Header should change
		{% endblock %}

			<nav>
			<a href = "index">{% if title == 'HOME' %}{{title}}{% else %}Home{% endif %}</a> 
			<a href = "about">{% if title == 'ABOUT' %}{{title}}{% else %}About{% endif %}</a>
			<a href = "artwork">{% if title == 'ARTWORK' %}{{title}}{% else %}Artwork{% endif %}</a>
			<a href = "experience">{% if title == 'EXPERIENCE' %}{{title}}{% else %}Experience{% endif %}</a>
			</nav>
	</header>

{% block content %}
	I should never see this content.  It should be replaced depending on the html file.
{% endblock %}

	<footer>
		 <p>
			<a href = "https://twitter.com/_dikou"><img class="socialmedia" src="static/twitter.png" alt="twitter logo"></a>
			<a href = "https://www.linkedin.com/in/dianaoum"><img class="socialmedia" src="static/linkedin.png" alt="linkedin logo"></a>
			<a href = "https://www.facebook.com/diana.oum3"><img class="socialmedia" src="static/facebook.png" alt="facebook logo"></a>
			<a href = "https://www.instagram.com/_dikou/"><img class="socialmedia" src="static/instagram.png" alt="instagram logo"></a>

			Copyright &copy; Diana Oum.</p>
	</footer>
	
</body>

</html>